@using EntityLayer.Concrete
@model List<Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yorumlar</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı</th>
        <th>Tur</th>
        <th>Tarih</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CommentId</td>
            <td>@item.Name</td>
            <td>@item.Destination.City</td>
            <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
            <td><a href="@Url.Action("DeleteComment", "Comment", new { area = "Admin", id = item.CommentId })" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>


